<div id="nav-bar">
  <div id="nav-bar-content">
    <div id="nav-bar-left">
      <div class="nav-bar-items">
        <a href="#" routerLink="">MediaGram</a>
      </div>
    </div>
    <div id="nav-bar-right">
      <div
        *ngIf="!loggedIn()"
        (click)="onLoginClick()"
        class="nav-bar-items"
        (click)="onLoginClick()"
      >
        Login
      </div>
      <div *ngIf="loggedIn() && userHasProfile" class="nav-bar-items">
        Welcome {{ getUsername() }}
      </div>

      <div *ngIf="loggedIn()" (click)="onLogoutClick()" class="nav-bar-items">
        <a href="#" routerLink=""> Logout</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-profile [show]="loggedIn() && !userHasProfile"></app-profile>
