<mat-card>
  <mat-card-header>
    <mat-card-title>Crea un nuovo post</mat-card-title>
  </mat-card-header>
  <div>
    <textarea
      #commentInput
      placeholder="Scrivi qui una descrizione..."
    ></textarea>
  </div>
  <div id="post-preview" *ngIf="selectedImageFile">
    <img id="post-preview-image" />
  </div>
  <mat-card-actions align="end">
    <button mat-button color="warn">
      <label for="photo-upload">
        <input
          #photoSelector
          (change)="onPhotoSelected(photoSelector)"
          id="photo-upload"
          type="file"
          accept="image/*"
        /><mat-icon>insert_photo</mat-icon>
      </label>
    </button>
    <button (click)="onPostClick(commentInput)" mat-flat-button color="warn">
      Invia
    </button>
  </mat-card-actions>
</mat-card>
